extends layout/capa.jade

block title
	title Puno Tours - Agencia de Viajes

block contenido
	section#principal
		div.flicker-example
			ul: li(data-background='img/flicker-1.jpg')
				.flick-title Title 1
				.lick-sub-text Text Line 1
			ul: li(data-background='img/flicker-2.jpg')
				.flick-title Title 2
				.flick-sub-text Text line 2
			ul: li(data-background='img/flicker-3.jpg')
				.flick-title title 3
				.lick-sub-text Text line 3
			ul: li(data-background='img/flicker-4.jpg')
				.flick-title title 4
				.lick-sub-text Text line 4
		//article donde irán las promociones...
		article#promos
			h2.titulos Promociones
			mixin caja(titulo,srcImagen, href)
				figure.imagen
					img(src=srcImagen, alt=titulo)
					figcaption=titulo
				a(href=href) Ver más
			+caja('Los Uros', 'img/los-uros.jpg', 'los-uros.html')
			+caja('Isla de Amantaní', 'img/amantani.jpg', 'amantani.html')
		article#queVisitar
			h2.titulos Qué Visitar'
			+caja('Los Uros', 'img/los-uros.jpg', 'los-uros.html')
			+caja('Los Uros', 'img/los-uros.jpg', 'los-uros.html')
			
			
