extends layout/capa.jade

block title
	title Puno Tours - Agencia de 

block contenido
	section#principal
		div.flicker-example
    	ul: li
    		.flick-title Title 1    			
    		.lick-sub-text Text Line 1
      ul: li
        .flick-title Title 2
        .flick-sub-text Text line 2
      ul: li
      	.flick-title title 3
      	.lick-sub-text Text line 3
        