doctype html
html(lang='es').no-js
  head
    include includes/head
  body
    .page-wrap
      include includes/top-bar
      include includes/header
      include includes/slider
      main

      include includes/footer
    include includes/tail
